/backend/auto_scripts/dataset
/backend/auto_scripts/models
backend/auto_scripts/pre_supershort_test.csv
backend/auto_scripts/pre_test.csv
/backend/auto_scripts/precsv
backend/auto_scripts/precsv/supershortcsv/20250322.csv
/backend/auto_scripts/results
/backend/auto_scripts/precsv
/backend/auto_scripts/scripts/middle/logs
/backend/auto_scripts/scripts/short/logs
/backend/auto_scripts/scripts/supershort/logs
backend/scheduler.log
backend/logs/scheduler_predict/20250324.log
backend/logs/scheduler_predict/20250323.log
backend/logs/auto_train/20250324_train_done.flag
backend/logs/auto_train/20250324.log
/backend/auto_scripts/scripts/middle/logs
/backend/auto_scripts/scripts/short/logs
backend/auto_scripts/train_test.csv
backend/logs/app.log
